@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

/* * {
  outline:  1px solid red;
} */

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  height: 100%;
  background-color: #F8F8F8;
  overflow-x: hidden;
}

code {
  font-family: 'Lato', sans-serif;
}
